@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    /* Maneira de deixar tudo em mais */
    font-variant: small-caps;
}

header a{
    color: white;
    text-decoration: none;
}

header a:hover{
    color: rgb(209, 208, 208);
    text-decoration: underline;
}